.App {
  text-align: center;
  height: 100%;
}

#enemy {
  border: 1px solid black;
  width: 50%;
  height: 25vh;
  display: flex;
}

#user {
  border: 1px solid black;
  width: 50%;
  height: 25vh;
}

#actions {
  border: 1px solid black;
  width: 50%;
  height: 25vh;
}

#log {
  border: 1px solid black;
  width: 50%;
  height: 25vh;
  overflow-y: scroll;
}

#enemy-image {
  border: 1px solid black;
  display: inline-block;
  left: 0px;
  position: relative;
  height: 100%;
}

#enemy-stats {
  display: inline-block;
  left: 0px;
  border: 1px solid black;
  position: relative;
}